{% extends 'base.html' %}

{% block content %}

<h1> {{ user.user_name }} </h1>
<h2> {{ ex_name }} data </h2>

<h3>Display graph here using this data</h3>

{% for workout in prev_workouts %}
<h3>{{workout}}</h3>
{% endfor %}


<form class="form-inline mt-3" action="" method="POST">{% csrf_token%}
  <div class=""> Sets: {{ex_Form.sets}} </div>
  <div class="ml-5"> Reps: {{ex_Form.reps}} </div>
  <div class="ml-5"> Weight: {{ex_Form.weight}} </div>
  <div class="ml-5"> Volume: {{ex_Form.volume}} </div>
  <div class=""> {{ex_Form.user}} </div>
  <div class=""> {{ex_Form.exercise}} </div>
  <div class="ml-5"> Date: {{ex_Form.date}} </div>
  <input type="submit" name="" value="Add">
</form>

{% endblock %}
