{% extends 'base.html' %}
{% block chart %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      var graphData_prev_workouts = {{prev_workouts}};
      graphData_prev_workouts.unshift(['Date', 'Volume']);
      console.log(graphData_prev_workouts);

      function drawChart() {
        // var data = google.visualization.arrayToDataTable([
        //   ['Date', 'Volume'],
        //   ['2004',  1000],
        //   ['2005',  1170],
        //   ['2006',  660,],
        //   ['2007',  1030]
        // ]);

        var data = google.visualization.arrayToDataTable(graphData_prev_workouts);

        var options = {
          title: '{{ ex_name }} progress',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
{% endblock %}



{% block content %}

<h1> {{ user.user_name }} </h1>
<h2> {{ ex_name }} data </h2>

<div id="curve_chart" style="width: 900px; height: 500px"></div>


{% for workout in prev_workouts %}
<h3>{{workout}}</h3>
{% endfor %}


<form class="form-inline mt-3" id="exercised-data" action="" method="POST">{% csrf_token%}
  <div class=""> Sets: {{ex_Form.sets}} </div>
  <div class="ml-5"> Reps: {{ex_Form.reps}} </div>
  <div class="ml-5"> Weight: {{ex_Form.weight}} </div>
  <div class="ml-5"> Date: {{ex_Form.date}} </div>
  <input type="submit" name="" value="Add">
</form>

<script>
</script>


{% endblock %}
